form {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 75%;
  margin: 0 auto;
}

form label {
  font-weight: bold;
}

form input {
  margin-bottom: 10px;
}

form textarea {
  margin-bottom: 10px;
  height: 100px;
}

form button {
  width: 5em;
  padding: 5px;
  background-color: aliceblue;
  color: #000;
  border-radius: 10%;
  cursor: pointer;
  font-weight: 600;
}

form fieldset {
  border: 3px solid slategray;
  margin-bottom: 10px;
}

form fieldset legend {
  background-color: #4d4b4b;
  color: #fff;
  border: 2px solid slategray;
}
